// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show_and_delete_recipe{
  width: 100px;
  margin: 6px 10px;
  border-radius: 5px;
  font-size: 15px;
}
